body {
    margin:0;
    background:rgba(131, 121, 121, 0.945);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banniere {
    width:100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 3px 10px black;
}

button {
    height:80px;
    width:250px;
    font-size:2em;
    background:transparent;
    border:none;
}

a {
    text-decoration: none;
    color: white;
}

button:hover {
    background: #d31f43e7;
}

.logo {
animation : slide 6s ease 0s  1 normal forwards;
}

@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-250px);
      z-index: -1;
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
      z-index: -1;
    }
  }

  h1 {
      font-size:4em;
      color:black;
  }

  .photo img{
    box-shadow: 1px 2px 8px rgb(250, 249, 249);
    border:10px solid #d31f43e7;
    border-radius: 50%;
    
      
      
  }

  .fond {
      background:rgba(0, 0, 0, 0.76);
      height:1700px;
      width:100%;
      margin:-350px;
      box-shadow: 1px 3px 20px black;
      z-index: -1;
  }

  .footer{
    display: flex;
    align-content:center;
    justify-content: space-around; 
    align-items: center;
    width:100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.76);
    box-shadow: 1px 3px 10px black;
  }

  .footer button {
      text-decoration: underline;
  }

  .footer button:hover {
      background:transparent;
  }
 
  .texte {
      display:flex;
      text-align: center;
      justify-content: center;
      background:rgba(255, 255, 255, 0.945);
      width:93%;
      height:80%;
      margin:50px;
      border:10px solid #d31f43e7;
      border-radius: 25px;
      box-shadow: 1px 3px 10px rgb(255, 255, 255);
  }

  .texte p {
      font-size:2.1em;
      margin:300px;
  }

  .texte img:hover {
      y:360°;
  }

  .reseau {
      display: flex;
      justify-content: space-around;
  }



  